@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --c-green-main: #0d761d;
    --c-green-ligh-main: #0e7f1f;
    --c-green-dark-main: #13611f;
    --c-gray-main: #7c7c7c;
    --c-dark-main: #343434;
    --c-white-main: #e8e9e8;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Roboto;
}

body, html {
    height: 100%;
}

body {
    background-color: var(--c-dark-main);
    color: var(--c-white-main);
    /* display: grid; */
    /* grid-template-rows: 1fr; */
    /* place-items: center; */
}

.desc-text {
    color: var(--c-gray-main);
}

svg {
    fill: var(--c-gray-main);
}

input, button, select, option {
    font-family: inherit;
    font-size: 87%;
    color: inherit;
}

/***************** Empty Page ******************/

.empty-library {
    text-align: center;
}

.empty-library > * {
    margin-bottom: 10px;
}

.empty-library-icon {
    fill: var(--c-gray-main);
    width: 250px;
}


.add-first-book {
    background-color: var(--c-green-main);
    border-radius: 20px;
    border: none;
    padding: 10px 25px;
    font-weight: 500;
    margin: 20px 0 0 0;
}

.add-first-book:hover {
    background-color: var(--c-green-ligh-main);
}

.add-first-book:active {
    background-color: var(--c-green-dark-main);
}

/********************** Library ***************************/

.library {
    display: grid;
    grid-template-columns: repeat(auto-fit, 190px);
    gap: 30px;
    padding: 20px;

}

/*********************** Book Card ************************/

.book-card {
    text-align: center;
    border: 3px solid var(--c-gray-main);
    border-radius: 20px;
    padding: 15px 15px;
}

.book-title {
    font-size: 1.3rem;
    font-weight: 500;
    margin-bottom: 5px;
}

.book-icon {
    /* height: 200px; */
}

.book-author {
    color: var(--c-gray-main);
    font-weight: 500;
    font-size: 1.05rem;
}

.book-pages {
    color: var(--c-gray-main);
    font-size: 0.85rem;
    margin-bottom: 15px;
}

#status-list {
    text-align: center;
    width: fit-content;
    padding: 5px 7px;
    background-color: transparent;
    border-radius: 8px;
    outline: none;
    appearance: none;
    cursor: pointer;
}

option {

  background-color: var(--c-dark-main);
}

/******************* Add Button *****************/

.add-book {
    display: flex;
    /* justify-content: center; */
    align-items: center;

}

/* .add-book  {
    opacity: 0.3;
} */

/* .add-btn {
    color: #a8aaa8;
    background-color: #444444;
    width: 90px;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    line-height:0;
    border-radius: 70px;
    font-size: 4rem;
    border: none;
} */

/* .add-btn {
    color: #a8aaa8;
    background-color: #444444;
    width: 90px;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    line-height:0;
    border-radius: 20px;
    font-size: 4rem;
    border: none;
} */

.add-btn {
    color: var(--c-gray-main);
    background-color: transparent;
    width: 90px;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    line-height:0;
    border-radius: 50%;
    font-size: 4rem;
    cursor: pointer;

}

.add-btn:active {
    background-color: #2b2b2b;
    color: #585858;
}

/*********************** Add Book Form **********************/

.add-book-form {
    display: none;
}

#add-book-form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    text-align: left;

}

.add-book-form label{
    text-align: left;
}

.add-book-form input{
    width: 100%;
    /* background-color: transparent; */
    color: #2b2b2b;
}

.add-btn-form {
    width: fit-content;
    background-color: var(--c-green-main);
    border: none;
    padding: 5px 15px;
    border-radius: 20px;
    font-weight: 500;
    cursor: pointer;
}

.add-btn-form:hover {
    background-color: var(--c-green-ligh-main);
}

.add-btn-form:active {
    background-color: var(--c-green-dark-main);
}

.book-card:nth-last-child(2) {
    background-color: red;
}